<style>
    * {
        margin: 0;
        padding: 0;
    }
    
    .card {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 10px;
        background-color: #634e4e;
    }
    
    .card-header {
        background-color: #f2f2f2;
        border-radius: 10px 10px 0px 0px;
    }
    
    .card-body {
        padding: 10px;
    }
    
    .card-footer {
        background-color: #f2f2f2;
        border-radius: 0px 0px 10px 10px;
    }
    
    .card-title {
        font-size: 20px;
        font-weight: bold;
    }
    
    .card-text {
        font-size: 16px;
    }
    
    .card-link {
        font-size: 16px;
    }
    
    .card-link:hover {
        text-decoration: none;
    }
    
    .card-link:active {
        text-decoration: none;
    }
    
    .card-link:visited {
        text-decoration: none;
    }
    
    .card-link:focus {
        text-decoration: none;
    }
    
    .card-link:hover {
        text-decoration: none;
    }
    
    .card-link:focus {
        text-decoration: none;
    }
    
    .card-link:hover {
        text-decoration: none;
    }
    
    .card-link:focus {
        text-decoration: none;
    }
    
    .card-link:hover {
        text-decoration: none;
    }
    
    .card-link:focus {
        text-decoration: none;
    }
    
    .card-link:hover {
        text-decoration: none;
    }
    
    .card-link:focus {
        text-decoration: none;
    }
    
    .card-link:hover {
        text-decoration: none;
    }
    
    .card-link:focus {
        text-decoration: none;
    }
    
    .card-link:hover {
        text-decoration: none;
    }
    
    h4 {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        box-shadow: #033b85 25px 0px 50px;
        border-radius: 5px;
        position: relative;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 25px;
        margin-right: 25px;
        padding: 5px;
        background-color: #2e2d2d;
    }
    
    h1 {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        position: center;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 25px;
        margin-right: 25px;
        padding: 5px;
        box-shadow: #099af5 1px 0px 10px;
        border-radius: 5px;
        align-items: center;
    }
    
    h5 {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        position: center;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 8px;
        margin-right: 25px;
        padding: 5px;
        box-shadow: #141414 1px 0px 10px;
        border-radius: 5px;
        align-items: center;
        background-color: #2e2d2d;
    }
    
    ion-content {
        --ion-background-color: #969191;
    }
    
    a {
        color: #f1e8e8;
        text-decoration: none;
        padding: 5px;
        font-size: 16px;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        box-shadow: #099af5 1px 0px 10px;
        border-radius: 5px;
        align-items: center;
        background-color: #2e2d2d;
    }
</style>

<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <h1>
                <ion-icon name="game-controller-outline"></ion-icon>
                <span style="color: #0991e6;"> RPG</span>
            </h1>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">
                <h1>
                    <ion-icon name="game-controller-outline"></ion-icon>
                    <span style="color: #099af5;"> RPG</span>
                </h1>
            </ion-title>

        </ion-toolbar>
    </ion-header>
    <ion-grid>
        <ion-row>
            <span>
            <h4>
              RavenousDestruction
            </h4>
        </span>
        </ion-row>

    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>
                            <h4>
                                <ion-icon name="star-outline"></ion-icon>
                                <span style="color: #099af5;"> Pontuacao</span>
                                <ion-title>
                                    <ion-icon name="podium-outline"></ion-icon>
                                    <span style="color: #099af5;"> 200</span>
                                </ion-title>


                            </h4>
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-card-title>
                            <h4>
                                <ion-icon name="cog-outline"></ion-icon>
                                <span style="color: #099af5;"> Categoria</span>
                                <ion-title>
                                    <ion-icon name="person-circle-outline"></ion-icon>
                                    <span style="color: #099af5;"> Mago</span>
                                </ion-title>

                            </h4>
                        </ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!--Forca vitalidade e outras carcteristicas-->
    <ion-col>
        <span>
            <h5>
                <ion-icon name="flame-outline"></ion-icon>
                <span style="color: #099af5;"> FORÇA</span>
        <ion-title>
            <ion-icon name="podium-outline"></ion-icon>
            <span style="color: #099af5;"> 200</span>
        </ion-title>
        </h5>
        </span>
        <span>
            <h5>
                <ion-icon name="flame-outline"></ion-icon>
                <span style="color: #099af5;"> VITALIDADE</span>
        <ion-title>
            <ion-icon name="podium-outline"></ion-icon>
            <span style="color: #099af5;"> 200</span>
        </ion-title>
        </h5>
        </span>
        <span>
            <h5>
                <ion-icon name="flame-outline"></ion-icon>
                <span style="color: #099af5;"> AGILIDADE</span>
        <ion-title>
            <ion-icon name="podium-outline"></ion-icon>
            <span style="color: #099af5;"> 200</span>
        </ion-title>
        </h5>
        </span>
        <span>
            <h5>
                <ion-icon name="flame-outline"></ion-icon>
                <span style="color: #099af5;"> INTELIGENCIA</span>
        <ion-title>
            <ion-icon name="podium-outline"></ion-icon>
            <span style="color: #099af5;"> 200</span>
        </ion-title>
        </h5>

        </span>
        <span>
            <h5>
                <ion-icon name="flame-outline"></ion-icon>
                <span style="color: #099af5;"> CARISMA</span>
        <ion-title>
            <ion-icon name="podium-outline"></ion-icon>
            <span style="color: #099af5;"> 200</span>
        </ion-title>
        </h5>
        </span>
        <span>
            <h5>
                <ion-icon name="flame-outline"></ion-icon>
                <span style="color: #099af5;"> RESISTÊNCIA</span>
        <ion-title>
            <ion-icon name="podium-outline"></ion-icon>
            <span style="color: #099af5;"> 200</span>
        </ion-title>
        </h5>
        </span>
        <span>
            <h5>
                <ion-icon name="flame-outline"></ion-icon>
                <span style="color: #099af5;"> VELOCIDADE</span>
        <ion-title>
            <ion-icon name="podium-outline"></ion-icon>
            <span style="color: #099af5;"> 200</span>
        </ion-title>
        </h5>
        </span>
    </ion-col>
    <!--Login No Sistema-->
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <h4>
                    <a href="#">
                        <ion-icon name="log-in-outline"></ion-icon>
                        <span style="color: #099af5;"> Login</span></a>
                </h4>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-card-title>
                <h4>
                    <a href="#">
                        <ion-icon name="person-circle-outline"></ion-icon>

                        <span style="color: #099af5;"> Usuario</span></a>
                </h4>
            </ion-card-title>
            <ion-card-title>
                <h4>
                    <a href="#">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <span style="color: #099af5;">Senha</span></a>
                </h4>
            </ion-card-title>
        </ion-card-content>
    </ion-card>
</ion-content>